nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding-inline: 30px;
    position: fixed;
    top: 0;
    width: 100%;
    backdrop-filter: brightness(90%) blur(5px);
    transition: 0.5s;
    z-index: 999999;
}

.navbarSolid {
    background-color: white;
    box-shadow:  0 0px 25px -4px rgb(229, 227, 227);
    z-index: 1;
}

nav h1 {
    font-family: "Ga Maamli", sans-serif;
    font-weight: 500;
    letter-spacing: 0.5px;
    font-size: 30px;
    cursor: pointer;
}


button img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

nav .account {
    display: flex;
    gap: 10px;
}

nav .account button {
    padding: 8px 15px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    font-family: "Ga Maamli", sans-serif;
    display: flex;
    align-items: center;
    gap: 14px;
}

