<nav appScrolling>
  <h1 routerLink="/"><i class="fa-solid fa-store"></i> Shopping Mall</h1>
  <div class="account">
    @if (!isLoggedIn) {
    <button (click)="showRegister()">
      <i class="fa-regular fa-id-card"></i> Create Account
    </button>
    <button (click)="signInForm()">
      <i class="fa-solid fa-person-walking-dashed-line-arrow-right"></i> Sign in
    </button>
    } @else  {
    <button routerLink="/profile" ><img [src]="userImg" alt="">{{userName}}</button>
    <button (click)="signOut()"><i class="fa-solid fa-right-to-bracket"></i> Sign Out</button>
    }
  </div>
</nav>

@if (isSignShow) {
<app-sign-in
  (closeEmit)="closeForm($event)"
  (changeEmit)="showRegister()"
  (loggedEmit)="loggedIn($event)"
 
></app-sign-in>
} @if (isRegisterShow) {
<app-sign-up
  (closeEmit)="closeRegister($event)"
 
></app-sign-up>
}
