<section>
    <main class="container">
        <div class="infos">
            <h1>Sale 20% Off On Everything</h1>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, minima?
              Ducimus quis dicta velit incidunt voluptatum. Dolores deleniti facere
              fugiat voluptas aut ab quidem reiciendis officiis, vitae explicabo, at
              consequuntur necessitatibus ea minima optio et repellendus deserunt
              sapiente totam nisi! Est nemo ipsum recusandae in cupiditate
              exercitationem minus veritatis optio?
            </p>
            <button routerLink="/shop">Shop Now</button>
          </div>
    </main>
  
</section>
