

.shopInfos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    margin: 70px 0;
}

.shopInfos .card {
    width: 300px;
    height: 200px;
    background-color: #04212F;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 15px;
    padding: 40px;
    font-family: "Exo", serif;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
.shopInfos .card:hover {
    transform: scale(1.03);
    box-shadow: 0 0 15px 1px #04212F;
}

.shopInfos .card i {
    font-size: 40px;
}



.arrivals {
    
    height: 400px;
    background-image: url("/arrivals.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: right;
   
   
}

main {
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    color: white;
  
}

.infos {
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: start;
}

.infos h1 {
    font-size: 50px;
    font-family: "Bilbo Swash Caps", serif;
    letter-spacing: 1px;
    color: red;
}


.infos p {
    font-family: "Bilbo Swash Caps", serif;
    font-size: 20px;
}

.bestS {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 40px 0;
}

.bestS::after {
content: "";
position: absolute;
width: 100%;
height: 1px;
background-color: rgb(197, 197, 197);
top: 50%;
z-index: -1;
}

.bestS h1 {
    background-color: white;
    padding-inline: 20px;
    font-family: "Exo", serif;
    font-weight: 500;
    letter-spacing: 1px;
    color: #244353;
}
